[safe]
	directory = /home/todd/vulcan/cloud
	directory = /home/todd/repos/toolkit
	directory = /home/todd/
[user]
	name = Todd Miller
	email = MillerTodd@contractor.bfusa.com
[alias]
	lg = log --pretty='%C(red)%h%Creset%C(yellow)%d%Creset %s %C(cyan)(%ar)%Creset'
	new = lg development..HEAD
	missing = lg HEAD..development
[core]
	pager = delta
[rebase]
	autosquash = true
	autoStash = true
[rerere]
	enabled = true
[credential]
	helper = /mnt/c/Users/cw109854/PortableGit/mingw64/bin/git-credential-manager.exe
[pager]
	blame = delta
[delta]
	side-by-side = true
	line-numbers = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[commit]
	gpgsign = false
[init]
	defaultBranch = main
