[safe]
	directory = /home/todd/vulcan/cloud
[user]
	; email = t.miller07@gmail.com
	; name = todd
  name = todd-miller
	email = millertodd@contractor.bfusa.com
[credential "http://appgit01dpd.idm.bfusa.com:7990"]
	provider = bitbucket
[alias]
	lg = log --pretty='%C(red)%h%Creset%C(yellow)%d%Creset %s %C(cyan)(%ar)%Creset'
	new = lg development..HEAD
	missing = lg HEAD..development
[core]
	pager = delta
[rebase]
	autosquash = true
	autoStash = true
[rerere]
	enabled = true
[credential]
	helper = store
[pager]
  blame = delta
[delta]
  side-by-side = true
  line-numbers = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
