[safe]
	directory = /home/todd/vulcan/cloud
	directory = /home/todd/repos/toolkit
	directory = /home/todd/
[user]
	name = todd
	email = t.miller07@gmail.com 
[alias]
	lg = log --pretty='%C(red)%h%Creset%C(green)%an%Creset%C(cyan)(%ci)%Creset%C(yellow)%d%Creset %s %C(cyan)(%ci)%Creset'
	new = lg development..HEAD
	missing = lg HEAD..development
[core]
	pager = delta
	autocrlf = true
[rebase]
	autosquash = true
	autoStash = true
[rerere]
	enabled = true
[credential]
	helper = store
[pager]
	blame = delta
[delta]
	side-by-side = true
	line-numbers = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[commit]
	gpgsign = false
[init]
	defaultBranch = main
