source ~/.vimrc

Plug 'vim-easymotion'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'
Plug 'preservim/nerdtree'

set surround
set multiple-cursors
set clipboard+=ideaput
set showmode
set easymotion

let mapleader=" "

map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)
map <leader>w :w <CR>
map <leader>q :q <CR>
map <leader>o :NERDTreeToggle<CR>

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>a <Action>(Annotate)
map <leader>d <Action>(Debug)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>/ <Action>(CommentByLineComment)

map <c-l> :action NextSplitter<CR>
map <c-h> :action PrevSplitter<CR>

map <home>h :action PreviousTab<CR>
map <home>l :action NextTab<CR>
map <home>\ :action SplitVertically<CR>
map <home>- :action SplitHorizontally<CR>
# map <home>= :action Unsplit<CR>
map <home>m :action MoveEditorToOppositeTabGroup<CR>
